<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
    </head>
    <body>
        {% csrf_token %}
        {% if request.user.username %}
        <p>hi! {{request.user.username}}</p>
        <a href="/logout_request">log out</a>
        <p><a href="/match_making">make a match</a></p> <br>
        <a href = "/profile"> profile </a>
        
        {% else %}
        <form action="/login_request/" method="post">
            {% csrf_token %}
            <label for="username">userName:</label>
            <input id="username" type="text" name="username" >
            <label for="password">password:</label>
            <input id="password" type="text" name="password" >
            <input type="submit" value="OK">
        <a href="/register">If you don't have any account, register</a>
        {% endif %}
    </body>
</html>