<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
    </head>
    <body>
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <p>hi! {{request.user.username}}</p>
        <a href="/logout_request">log out</a> <br>
        <a href="/match_making">make a match</a> <br>
        <a href = "/profile"> profile </a>
        
        {% else %}
        <form action="/login_request/" method="post">
            {% csrf_token %}
            <label for="username">userName:</label>
            <input id="username" type="text" name="username" >
            <label for="password">password:</label>
            <input id="password" type="text" name="password" >
            <input type="submit" value="OK"><br>
            if you don't have an account, then  <br>
        <a href="/player_register">player register</a><br>
        <a href="/referee_register">referee register</a>
        {% endif %}
    </body>
</html>