<DOCTYPE html>
    <html>
        <head>
            <title>profile</title>
        </head>
        <body>
            {% csrf_token %}
            hello, {{me.username}} <br>
            score : {{me.score}} <br>
            intention to fight : {{me.intention_to_fight}} <br>         
            {% comment %} 아래 심판의 체육관 정보 {% endcomment %}

            {% if me_referee %}
            {{me_referee.gym}} <br>
            <!-- 아무래도 심판 체육관리스트를 쫙 나열할 필요가 있으셈  {% for %} 문 이용해서-->
            <!-- 심판 체육관 링크 만들어두기 -->
            <a href="/match_make/">체육관 시간 설정하기</a>
            <a href="/match_info/">매치 정보</a>
            {% endif %}
        </body>
    </html>