<DOCTYPE html>
    <html>
        <head>
            <title>profile</title>
        </head>
        <body>
            {% csrf_token %}
            hello, {{me.username}} <br>
            score : {{me.score}} <br>
            intention to fight : {{me.intention_to_fight}} <br>         
            {% comment %} 아래 심판의 체육관 정보 {% endcomment %}

            {% if me_referee %}
            {{me_referee.gym}} <br>
            <!-- 심판 체육관 링크 만들어두기 -->
            <a href="/gym_time">체육관 시간</a>
            {% endif %}
        </body>
    </html>