<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>referee_match</title>
</head>
<body>
    {% for match in matches %}
    {{match.date}}, {{match.time}} <br>
        {% for user in match.player.all %}
            {% if match.player.exists %}
                <a href="{% url 'mainapp:define_winner' user_id=user.id match_id=match.id %}">{{ user.username }}</a>
            {% endif %}
        {% endfor %}
        <a href="{% url 'mainapp:define_winner' user_id=user.id match_id=match.id %}">draw</a>
        
    {% endfor %}
    <!-- submit하면 바로 승자처리해주는 display도 필요함 -->
    {% comment %} 그러려면 누가 승자인지에 대한 context도 함께 넘어와야함 {% endcomment %}
</body>
</html>
