<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>referee_match</title>
</head>
<body>
    {% for match in matches %}
    {{match.date}}, {{match.time}} <br>
        {% for user in match.player.all %}
        {% if match.player.exists %}
        <a href="{% url 'define_winner' user_id = user.id match_id = match.id %}">{{user.username}}</a>
        {% endfor %}
        <a href="{% url 'define_winner' user_id = user.id match_id = match.id %}">draw</a>
        {% comment %} draw 라는 'str'을 인자로 넘기면은 어떨까? 그거를 파라미터로 이용해서 draw 코딩 짜주기 {% endcomment %}
    {% endfor %}
    <!-- submit하면 바로 승자처리해주는 display도 필요함 -->
</body>
</html>
{% comment %} <form action="/define_winner/" method="post">
            <!-- Your form fields here -->
            <select>
                
            </select>
            <!-- Submit button -->
            <button type="submit" name="action" value="{{ button_value }}">Submit</button>
        </form> {% endcomment %}