<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>referee_match</title>
</head>
<body>
    {% for match in matches %}
    {{match.date}}, {{match.time}}
    <form action="/define_winner/" method="post">
        <select id="winner" name="winner">
            <option value="player1">player1</option>
            <option value="player2">player2</option>
        </select>
    <input type="submit" value="Submit" />
    <!-- submit하면 바로 승자처리해주는 display도 필요함 -->
    {% endfor %}
</body>
</html>