<!DOCTYPE html>
<html>
<head>
    <title>Referee Registration</title>
</head>
<body>
    <h2>Referee Registration</h2>
    <form action="/referee_register/" method="POST">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username">
        <br>
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" id="id_password1">
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
